.w-100px{
  width: 100px !important;
}

.w-110px{
  width: 110px !important;
}

.w-120px{
  width: 120px !important;
}

.w-130px{
  width: 130px !important;
}

.w-160px{
  width: 160px !important;
}

.w-170px{
  width: 170px !important;
}

.w-195px{
  width: 195px !important;
}

.f-s-25px{
  font-size: 25px !important;
}